annotated-types==0.7.0
beanie==1.29.0
blinker==1.9.0
bson==0.5.10
click==8.1.8
colorama==0.4.6
dnspython==2.7.0
Flask==3.1.0
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.6
lazy-model==0.2.0
MarkupSafe==3.0.2
motor==3.7.0
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pymongo==4.11.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.17.0
toml==0.10.2
typing_extensions==4.12.2
uvicorn==0.34.0
Werkzeug==3.1.3
